.d-cron-row-wrap {
  .arco-row {
    margin: 10px 0;
  }
}
.d-cron-second-radio-item {
  display: flex;
  align-items: center;
  // padding: 8px 0;
  .d-corn-text {
    white-space: pre;
    margin: 0 6px;
  }
}
.d-corn-bottom {
  display: flex;
  align-items: center;
  border-top: 1px solid var(--color-neutral-3);
  margin-top: 8px;
  padding-top: 8px;
  &-text {
    flex: 1;
    text-align: left;
  }
  &-button {
    margin-left: 4px;
  }
}
