// todo: 公共样式
// todo: 1. 按需引入样式 (项目优化--去重优化) 2. 直接引入全部样式 (项目优化--去重优化)
@import '@arco-design/web-vue/es/style/index.less';
@import '@arco-design/web-vue/es/input/style/index.less';
@import '@arco-design/web-vue/es/trigger/style/index.less';
@import '@arco-design/web-vue/es/popover/style/index.less';
@import '@arco-design/web-vue/es/tabs/style/index.less';
@import '@arco-design/web-vue/es/grid/style/index.less';
@import '@arco-design/web-vue/es/radio/style/index.less';
@import '@arco-design/web-vue/es/input-number/style/index.less';
@import '@arco-design/web-vue/es/button/style/index.less';
@import '@arco-design/web-vue/es/select/style/index.less';
@import '@arco-design/web-vue/es/checkbox/style/index.less';
@import '@arco-design/web-vue/es/tag/style/index.less';
@import '@arco-design/web-vue/es/_components/select-view/style/index.less';

.d-cron-row-wrap{
  .arco-row {
    margin: 10px 0;
  }
}
.d-cron-second-radio-item {
  display: flex;
  align-items: center;
  // padding: 8px 0;
  span {
    // white-space: pre;
    // margin: 0 4px;
  }
}
